/******************************************************************
Project: SEB:s Experience Center
Date: December 2017
Code by: Milos Zekovic / Niklas Sjostrand - Evitbe

iPad: 768 x 1024
******************************************************************/

@import 'base/module';
@import 'layout/global';

/*****************************************************************/